<header id="header">

    <div>
        <h1>John Keats</h1>
        <img src="/imgs/keats.jpg" class="medaillon">

        <nav>
            <div><a href="/">home</a></div>
            <div><a href="/poems">poems</a></div>
            <div><a href="/about">about</a></div>
            <div><a href="/poems/random">random</a></div>
        </nav>
    </div>

</header>