<div class="bio">

    <h2>"The epitome of the young, beautiful, doomed poet."</h2>
    <div>

<p>
John Keats was born on 31 October 1795 in London. His father worked at a livery stable, but died in 1804. His mother
remarried, but died of tuberculosis in 1810.
<br>
Keats was educated at a school in Enfield. When he left at 16, he was apprenticed to a surgeon. He wrote his first poems
in 1814. In 1816, he abandoned medicine to concentrate on poetry. His first volume of poetry was published the following
year.
<br>
In 1818, Keats nursed his brother Tom through the final stages of tuberculosis, the disease that had killed their
mother. Tom died in December and Keats moved to his friend Charles Brown's house in Hampstead. There he met and fell
deeply in love with a neighbour, the 18-year old Fanny Brawne.
<br>
This was the beginning of Keats' most creative period. He wrote, among others, 'The Eve of St Agnes', 'La Belle Dame
Sans Merci', 'Ode to a Nightingale' and 'To Autumn'. The group of five odes, which include 'Ode to a Nightingale', are
ranked among the greatest short poems in the English language.
<br>
From September 1819, Keats produced little more poetry. His financial difficulties were now severe. He became engaged to
Fanny Brawne, but with no money there was little prospect of them marrying.
<br>
Early in 1820, Keats began to display symptoms of tuberculosis. His second volume of poetry was published in July, but
he was by now very ill. In September, Keats and his friend Joseph Severn left for the warmer weather of Italy, in the
hope that this would improve Keats' health. When they reached Rome, Keats was confined to bed. Severn nursed him
devotedly, but Keats died in Rome on 23 February 1821. He was buried in the Protestant Cemetery in Rome.
</p>
<h3>biography from <a target = "_blank" href="http://www.bbc.co.uk/history/historic_figures/keats_john.shtml">here</a></h3>
</div>
<div>poems obtained from <a target="_blank" href="http://poetrydb.org/index.html">PoetryDB</a></div>
</div>