<section>

    <div class="illumination">G</div>
    <div>
        <br>IVE me women, wine, and snuff
        <br>Untill I cry out "hold, enough!"

        <br>You may do so sans objection

        <br>Till the day of resurrection:

        <br>For, bless my beard, they aye shall be

        <br>My beloved Trinity.
    </div>
</section>