<div class="list-poems">

    {{#each poem}}
    <a href="/poems/{{@index}}"><div class="poem-square">
        <h3>{{title}}</h3>
    </div></a>
    {{/each}}

<a href="#header">
    <div>Click to go back to the head of the site</div>
</a>
</div class="list-poems">
